.header__common__general__container {
  width: 100%;
  height: 55px;
  position: relative;
  top: 0;
}
.header__common__red__container {
  background-color: #dd1a1a;
  width: 100%;
  height: 70%;
}
.header__common__black__container {
  background-color: rgb(218, 218, 218);
  width: 100%;
  height: 38%;
}
.header__common__pokedex__img {
  margin: 0 1rem;
  position: absolute;
  width: 40%;
  max-width: 121px;
  height: 100%;
  max-height: 55px;
  top: 0.3rem;
  left: 0.8rem;
  background-image: url("https://i.imgur.com/cEVHBmB.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header__common__pokeball__img {
  background-image: url("https://i.imgur.com/IMEJ8ib.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60px;
  aspect-ratio: 1;
  z-index: 8;
  position: absolute;
  top: 0rem;
  right: 1.8rem;
  animation: pokeball-animation 2s infinite;
}
/* Media queries========================= */
@media screen and (min-width: 550px) {
  .header__common__general__container {
    height: 78px;
  }
  .header__common__pokedex__img {
    max-width: 180px;
    top: 1.5rem;
  }
  .header__common__pokeball__img {
    width: 75px;
    top: 0.8rem;
  }
}
