.home__general__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: #e5e5e5;
  position: relative;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  background-image: url("https://i.imgur.com/w1LQTNQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pokedex__img__container {
  margin: 0 1rem;
  position: absolute;
  width: 90%;
  max-width: 676px;
  height: 121px;
  top: 7rem;
  background-image: url("https://i.imgur.com/cEVHBmB.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pikachu__container {
  z-index: 1;
  top: 71.5%;
  left: 0;
  position: absolute;
  width: 100%;
}
.pikachu__container img {
  max-width: 100%;
  width: 150px;
  aspect-ratio: 1;
}
.welcome__general__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.welcome__general__container h1 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #c1c6ca;
  font-size: 30px;
  text-shadow: 3px -1px 8px rgba(82, 78, 78, 0.5);
}
.welcome__general__container p {
  font-weight: 500;
  color: #d0c2c2;
  font-size: 0.8rem;
  text-shadow: 3px -1px 8px rgba(6, 6, 6, 0.5);
}
.home__footer__general__container {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
}
.home__footer__red__container {
  background-color: #171009;
  width: 12%;
  height: 75%;
  border-radius: 50%;
}
.footer__pokeball__img {
  background-image: url("https://i.imgur.com/IMEJ8ib.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  aspect-ratio: 1;
  z-index: 8;
  position: absolute;

  top: 2.68rem;
  left: 31.7%;
  animation: pokeball-animation 2s infinite;
}
@keyframes pokeball-animation {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  25% {
    transform: translateX(1px) rotate(10deg);
  }
  50% {
    transform: translateX(-1px) rotate(-10deg);
  }
  75% {
    transform: translateX(1px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
/* Media queries============================= */
@media screen and (min-width: 420px) {
  .welcome__general__container h1 {
    font-size: 34px;
  }
  .welcome__general__container p {
    font-size: 1rem;
  }
}
/* 700PX=======================================*/
@media screen and (min-width: 700px) {
  .pokedex__img__container {
    top: 5rem;
  }
  .welcome__general__container h1 {
    font-size: 50px;
  }
  .welcome__general__container p {
    font-size: 1.5rem;
  }
  .pikachu__container {
    z-index: 1;
    top: 65%;
    position: absolute;
    width: 100%;
    max-width: 100%;
  }
  .pikachu__container img {
    max-width: 100%;
    width: 200px;
    aspect-ratio: 1;
  }
}
