html {
  scroll-behavior: smooth;
}
.charizard {
  position: absolute;
  width: 150px;
  aspect-ratio: 1;
  background-image: url("https://i.imgur.com/5GlEgq5.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
.eevee {
  position: absolute;
  width: 150px;
  aspect-ratio: 1;
  background-image: url("https://i.imgur.com/S0oGdjt.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
.mewtwo {
  position: absolute;
  width: 200px;
  aspect-ratio: 1;
  background-image: url("https://i.imgur.com/KpBtgTF.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
.mewtwo::before {
  content: "";
  position: absolute;
  top: -26.5%;
  left: 25%;
  width: 35%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  border-radius: 50%;
  transform: translateY(0);
  animation: ballShadowAnimation 2s infinite;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.mewtwo::after {
  content: "";
  position: absolute;
  top: -21.3%;
  left: 30.45%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  background-color: rgb(31, 4, 31);
  border-radius: 50%;
  animation: ballShadowAnimation 2s infinite;
  box-shadow: 0 0 20px 10px rgba(147, 0, 207, 0.5);
}
@keyframes ballShadowAnimation {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
.home__general__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: #e5e5e5;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  background-image: url("https://i.imgur.com/w1LQTNQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.pokedex__img__container {
  margin: 0 1rem;
  position: absolute;
  width: 90%;
  max-width: 292px;
  height: 121px;
  bottom: 5rem;
  background-image: url("https://i.imgur.com/cEVHBmB.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pokeball__img {
  position: absolute;
  top: 14.95%;
  left: 8%;
  background-image: url("https://i.imgur.com/IMEJ8ib.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 89px;
  aspect-ratio: 1;
  z-index: 8;
  animation: pokeball-animation 2s infinite;
}
.pikachu__container {
  z-index: 1;
  bottom: 1rem;
  left: 0;
  position: relative;
}
.pikachu__container img {
  max-width: 100%;
  width: 150px;
  aspect-ratio: 1;
}
.welcome__general__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  position: relative;
}
.welcome__general__container h1 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #c1c6ca;
  font-size: 30px;
  text-shadow: 3px -1px 8px rgba(82, 78, 78, 0.5);
}
.welcome__general__container p {
  font-weight: 500;
  color: #d0c2c2;
  font-size: 0.8rem;
  text-shadow: 3px -1px 8px rgba(6, 6, 6, 0.5);
}
@keyframes pokeball-animation {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  25% {
    transform: translateX(1px) rotate(10deg);
  }
  50% {
    transform: translateX(-1px) rotate(-10deg);
  }
  75% {
    transform: translateX(1px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
.home__footer__general__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
}
.home__footer__social__networks {
  padding-right: 0.25rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 0.3rem;
  position: absolute;
  bottom: 2.5rem;
  right: 0.25rem;
  z-index: 2;
}
.home__footer__social__networks a {
  border-radius: 50%;
  background-color: rgba(185, 177, 177, 0.312);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}
.home__footer__social__networks a:hover {
  transition: 0.3s ease;
}
.home__footer__social__networks a i {
  font-size: 18px;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.5s ease;
  text-align: center;
}
.home__footer__social__networks a i:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.home__footer__rights__general__container {
  width: 100%;
  font-size: 11px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.home__footer__contact__general__container {
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}
.home__footer__contact__general__container span {
  color: #000000;
}
.bxl-github {
  color: black;
}
/* Media queries============================= */
@media screen and (min-width: 420px) {
  .welcome__general__container h1 {
    font-size: 34px;
  }
  .welcome__general__container p {
    font-size: 1rem;
  }
  .pokedex__img__container {
    max-width: 294px;
    height: 121px;
  }
  .pokeball__img {
    top: 15.75%;
    left: 8.35%;
    width: 86px;
  }
}
/* 500PX=====================================  */
@media screen and (min-width: 500px) {
  .pokedex__img__container {
    max-width: 400px;
    height: 121px;
  }
  .pokeball__img {
    top: 3.5%;
    left: 7.95%;
    width: 123px;
  }
  .eevee {
    width: 150px;
    display: initial;
    bottom: 9%;
    right: 6%;
  }
}
/* 700PX=======================================*/
@media screen and (min-width: 700px) {
  .pokedex__img__container {
    max-width: 500px;
    bottom: 8rem;
  }
  .pokeball__img {
    top: -12%;
    left: 7.6%;
    width: 155px;
  }
  .welcome__general__container h1 {
    font-size: 50px;
  }
  .welcome__general__container p {
    font-size: 1.5rem;
  }
  .pikachu__container {
    top: 65%;
  }
  .pikachu__container img {
    max-width: 100%;
    width: 200px;
    aspect-ratio: 1;
  }
  .eevee {
    width: 200px;
  }
}
/* 900PX=================================== */
@media screen and (min-width: 900px) {
  .charizard {
    display: initial;
    right: 1%;
    top: 1%;
    width: 180px;
  }
  .mewtwo {
    display: initial;
    top: 18%;
    left: 2%;
  }
}
/* 1060PX=========================== */
@media screen and (min-width: 1060px) {
  .mewtwo {
    width: 230px;
  }
  .charizard {
    display: initial;
    right: 1%;
    top: 3%;
    width: 220px;
  }
}
/* 1100PX=========================== */
@media screen and (min-width: 1100px) {
  .eevee {
    width: 200px;
  }
  .charizard {
    display: initial;
    right: 1%;
    top: 1%;
    width: 260px;
  }
  .mewtwo {
    width: 280px;
  }
  .pikachu__container {
    left: 2%;
  }
  .pikachu__container img {
    width: 220px;
  }
}
/* 1440PX============================== */
@media screen and (min-width: 1440px) {
  .eevee {
    width: 260px;
    right: 2.8%;
    bottom: 12%;
  }
  .charizard {
    display: initial;
    right: 6%;
    top: 2%;
    width: 280px;
  }
  .mewtwo {
    width: 300px;
  }
}
