.home__general__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: #e5e5e5;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  background-image: url("https://i.imgur.com/w1LQTNQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.pokedex__img__container {
  margin: 0 1rem;
  position: absolute;
  width: 90%;
  max-width: 292px;
  height: 121px;
  top: 7rem;
  background-image: url("https://i.imgur.com/cEVHBmB.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pokeball__img {
  position: absolute;
  top: 14.95%;
  left: 8%;
  background-image: url("https://i.imgur.com/IMEJ8ib.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 89px;
  aspect-ratio: 1;
  z-index: 8;
  animation: pokeball-animation 2s infinite;
}
.pikachu__container {
  z-index: 1;
  top: 71.5%;
  left: 0;
  position: absolute;
  width: 100%;
}
.pikachu__container img {
  max-width: 100%;
  width: 150px;
  aspect-ratio: 1;
}
.welcome__general__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.welcome__general__container h1 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #c1c6ca;
  font-size: 30px;
  text-shadow: 3px -1px 8px rgba(82, 78, 78, 0.5);
}
.welcome__general__container p {
  font-weight: 500;
  color: #d0c2c2;
  font-size: 0.8rem;
  text-shadow: 3px -1px 8px rgba(6, 6, 6, 0.5);
}
@keyframes pokeball-animation {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  25% {
    transform: translateX(1px) rotate(10deg);
  }
  50% {
    transform: translateX(-1px) rotate(-10deg);
  }
  75% {
    transform: translateX(1px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
.home__footer__general__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
.home__footer__social__networks {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  bottom: 2.5rem;
  left: 42%;
  z-index: 1;
}
.home__footer__social__networks a {
  border-radius: 50%;
  background-color: rgba(185, 177, 177, 0.312);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}
.home__footer__social__networks a:hover {
  border: 1px solid rgb(122, 118, 118);
  transition: 0.3s ease;
}
.home__footer__social__networks a i {
  font-size: 18px;
  padding: 10px;
  transform: scale(1);
  transition: transform 0.5s ease;
  text-decoration: none;
}
.home__footer__social__networks a i:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease;
}
.home__footer__rights__general__container {
  width: 100%;
  font-size: 11px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.home__footer__contact__general__container {
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}
.home__footer__contact__general__container span {
  color: #000000;
}
/* Media queries============================= */
@media screen and (min-width: 420px) {
  .welcome__general__container h1 {
    font-size: 34px;
  }
  .welcome__general__container p {
    font-size: 1rem;
  }
  .pokedex__img__container {
    max-width: 294px;
    height: 121px;
    top: 7rem;
  }
  .pokeball__img {
    top: 15.75%;
    left: 8.35%;
    width: 86px;
  }
}
/* 500PX=====================================  */
@media screen and (min-width: 500px) {
  .pokedex__img__container {
    max-width: 400px;
    height: 121px;
  }
  .pokeball__img {
    top: 3.5%;
    left: 7.95%;
    width: 123px;
  }
}
/* 700PX=======================================*/
@media screen and (min-width: 700px) {
  .pokedex__img__container {
    top: 5rem;
    max-width: 600px;
  }
  .pokeball__img {
    top: -19%;
    left: 8.3%;
    width: 178px;
  }
  .welcome__general__container h1 {
    font-size: 50px;
  }
  .welcome__general__container p {
    font-size: 1.5rem;
  }
  .pikachu__container {
    z-index: 1;
    top: 65%;
    position: absolute;
    width: 100%;
    max-width: 100%;
  }
  .pikachu__container img {
    max-width: 100%;
    width: 200px;
    aspect-ratio: 1;
  }
}
