.log__out {
  position: absolute;
  right: 0.25rem;
  top: 5.55rem;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #d93f3f;
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto";
  cursor: pointer;
  transition: 1s ease-in-out;
}
.log__out:hover {
  animation: button-animation 1s infinite;
}
.no__pokemons {
  height: 100vh;
}
.no__pokemons p {
  margin-top: 3.5rem;
  text-align: center;
}
.pokedex__page__general__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    to bottom right,
    #0f4c81,
    #1a759f,
    #2887b4,
    #34a0c2,
    #3cc7d6
  );
}
.ash__pikachu__container {
  position: absolute;
  top: 8rem;
  right: 0;
}
.ash__pikachu__img {
  width: 120px;
  aspect-ratio: 1;
  background-image: url("https://i.imgur.com/ai9A4ny.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome__pokedex__page__container {
  margin-top: 0.5rem;
  width: 95%;
  display: flex;
  align-items: center;
}
.welcome__pokedex__page__container p {
  max-width: 90%;
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto";
}
.welcome__pokedex__page__container span {
  font-size: 14px;
  font-weight: 700;
  color: red;
  font-family: "Roboto";
}
.grid__pokemons__list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 95%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
/* Media queries================= */
@media screen and (min-width: 450px) {
  .welcome__pokedex__page__container p {
    font-size: 14px;
  }
  .welcome__pokedex__page__container span {
    font-size: 16px;
  }
}
@media screen and (min-width: 750px) {
  .welcome__pokedex__page__container p {
    font-size: 16px;
  }
  .welcome__pokedex__page__container span {
    font-size: 18px;
  }
}
/* 500PX============================== */
@media screen and (min-width: 500px) {
  .ash__pikachu__container {
    top: 5.5rem;
  }
  .ash__pikachu__img {
    width: 150px;
  }
}
/* 550PX================================ */
@media screen and (min-width: 550px) {
  .ash__pikachu__container {
    top: 5.8rem;
  }
  .ash__pikachu__img {
    width: 180px;
  }
}
/* 1100PX */
@media screen and (min-width: 1100px) {
  .welcome__pokedex__page__container p {
    font-size: 18px;
  }
  .welcome__pokedex__page__container span {
    font-size: 22px;
  }
  .ash__pikachu__container {
    top: 3.5rem;
    right: 8%;
  }
  .ash__pikachu__img {
    width: 250px;
  }
}
