.loading__pokemon__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pokemon__card__general__container {
  /* Estilos existentes de la tarjeta */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 265px;
  height: 395px;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: unset;
  overflow: hidden;
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.419);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.pokemon__card__general__container::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.689), transparent);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.pokemon__card__general__container:hover {
  transform: translateY(-4px) rotateX(10deg) rotateY(-10deg);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
.pokemon__card__general__container:hover::before {
  opacity: 1;
}
.pokemon__card__loading__case__general__container {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.pokemon__img__container {
  margin-top: 0.4rem;
  width: 95%;
  height: 40%;
  background-color: rgb(11, 11, 11);
  position: relative;
  border-radius: 5px 5px 0 0;
}
.pokemon__img__container img {
  position: relative;
  width: 150px;
  max-width: 150px;
  aspect-ratio: 1;
  top: 20%;
  left: 20%;
}
.pokemon__dates__general__container {
  padding-top: 1.5rem;
  border-radius: 0 0 5px 5px;
  width: 95%;
  height: 60%;
  margin-bottom: 0.4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pokemon__first__dates__general__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 0.5rem;
}
.pokemon__first__dates__general__container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
}
.pokemon__first__dates__general__container h4 {
  margin-top: 0.15rem;
  margin-bottom: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #3c3939;
}
.pokemon__first__dates__general__container ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  color: #2b2b2b;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.pokemon__first__dates__general__container ul li {
  padding: 2px 4px 2px 4px;
  margin-top: 0.1rem;
  width: 60px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-align: center;
}
.pokemon__second__dates__general__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.pokemon__second__dates__general__container div {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.pokemon__second__dates__general__container div h5 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.pokemon__second__dates__general__container div span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
